﻿@{
    ViewBag.Title = "Регистрация";
}
<div ng-controller="registrationController" class="registration">
    <p class="title">График</p>
    <div class="week">
        <form class="form-inline">
            <div class="form-group">
                <a class="week-prev clear-href" ng-click="week.prev()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <span class="week-name">{{ week.name() }}</span>
                <a class="week-next clear-href" ng-click="week.next()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="form-group" style="margin-left: 10px">
                <input data-med-week-input class="form-control" ng-model="week.currentDate" />
            </div>
            <div class="form-group" style="margin-left: 10px">
                <label for="doctorsList">Избор на Лекар:</label>
                <select id="doctorsList" class="form-control"
                        ng-model="selectedDoctor"
                        ng-options="(d.title + ' ' + d.firstName + ' ' + d.lastName) for d in week.doctors() track by d.doctorId">
                    <option value="">Всички</option>
                </select>
            </div>
            <div class="form-group" style="margin-left: 10px">
                <label for="datesSelect">Избор на дата:</label>
                <input type="date" id="datesSelect" list="datesList" class="form-control" ng-model="week.filterDay"
                       min="{{ week.days[0].date | date:'yyyy-MM-dd' }}" max="{{ week.days[week.days.length - 1].date | date:'yyyy-MM-dd' }}" />
                <datalist id="datesList">
                    <option ng-repeat="day in week.days" value="{{ day.date | date:'yyyy-MM-dd' }}" ng-bind="day.date | dateDisplay"></option>
                </datalist>
            </div>
            <div class="form-group" style="margin-left: 10px">
                <button type="button" class="btn btn-default" ng-click="week.reload()">Обнови</button>
            </div>
        </form>
    </div>
    <div ng-repeat="day in week.days | reserveDateFilter:week.filterDay  | dayDoctorFilter:selectedDoctor" class="schedule-day">
        <table class="schedule">
            <thead>
                <tr>
                    <th style="width: 80px">Ден</th>
                    <th style="width: 250px">Име</th>
                    <th ng-repeat="hour in day.hours" style="width: 80px" colspan="12" ng-bind="hour"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="week-day" rowspan="{{ day.doctors.length + 1 }}" data-day="{{day.date | date:'yyyy-MM-dd'}}">
                        <span class="rotated-text">
                            <span class="rotated-text_inner" ng-bind="day.date | dateDisplay"></span>
                        </span>
                    </td>
                </tr>
                <tr ng-repeat="doctor in day.doctors | doctorFilter:selectedDoctor" class="doctor-row" ng-class="{ 'single-row': day.doctors.length === 1, 'multiple-row': day.doctors.length > 1 }"
                    data-day="{{day.date | date:'yyyy-MM-dd'}}">
                    <td class="doctor-name" ng-click="viewDoctor(doctor.doctorId)">
                        <span ng-bind="doctor.title + ' ' + doctor.firstName + ' ' + doctor.lastName"></span>
                        <div class="note" ng-show="doctor.note" data-title="{{ doctor.note }}"></div>
                    </td>
                    <td ng-repeat="hour in doctor.hours | nonZeroHour" colspan="{{ (hour.to - hour.from) / 5 }}"
                        ng-class="{ 'non-work': hour.work == 0, 'nzok': hour.isnzok, 'reserved': hour.isReserved, 'past': day.date.valueOf() < now.valueOf() }" vm-qtip
                        class="doctor-hour">
                        <div ng-show="hour.work == 1" class="dropdown">
                            <div class="dropdown-toggle"></div>
                            <ul class="dropdown-menu" role="menu" ng-hide="!hour.isReserved && day.date.valueOf() < now.valueOf()">
                                <li class="clickable" ng-hide="hour.isReserved || day.date.valueOf() < now.valueOf()">
                                    <a ng-click="registerHour(doctor, day.date, hour)">Запис на час</a>
                                </li>
                                <li class="clickable" ng-show="hour.isReserved">
                                    <a ng-click="registerHour(doctor, day.date, hour)">Промени часа</a>
                                </li>
                                <li class="clickable" ng-show="hour.isReserved">
                                    <a ng-click="removeReservation(hour.reservation.id)">Отмяна на час</a>
                                </li>
                                <li class="clickable" ng-show="hour.isReserved">
                                    <a ng-click="viewPatient(hour.reservation.patientId)">Виж пациент</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Styles
{
    <link href="~/static/css/patient.min.css@("?ver=" + ViewBag.AssemblyVersion)" rel="stylesheet" />
    <link href="~/static/css/doctor.min.css@("?ver=" + ViewBag.AssemblyVersion)" rel="stylesheet" />
    <link href="~/static/css/registration.min.css@("?ver=" + ViewBag.AssemblyVersion)" rel="stylesheet" />
}
@section Scripts
{
    <script src="~/static/js/common/patient.min.js@("?ver=" + ViewBag.AssemblyVersion)"></script>
    <script src="~/static/js/common/doctor.min.js@("?ver=" + ViewBag.AssemblyVersion)"></script>

    <script src="~/static/js/registration/reservation-helper.js@("?ver=" + ViewBag.AssemblyVersion)"></script>
    <script src="~/static/js/registration/reservation-hour.js@("?ver=" + ViewBag.AssemblyVersion)"></script>
    <script src="~/static/js/registration/reservation-week.js@("?ver=" + ViewBag.AssemblyVersion)"></script>
}
