﻿<div class="modal-form">
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-small" ng-show="data.errors.length > 0">
        <div ng-repeat="error in data.errors" ng-bind="error"></div>
    </div>
    <div class="alert alert-warning alert-small" ng-show="model.warning && model.warning.length > 0" ng-bind="model.warning">

    </div>
    <div class="alert alert-warning alert-small" ng-show="!model.nzok && model.paymentType === 1">
        В този часови диапазон доктора не преглежда по каса!
    </div>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <span class="form-control-static text-left col-xs-offset-1 bold-text" ng-bind="model.doctor.title + ' ' + model.doctor.firstName + ' ' + model.doctor.lastName"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-xs-2 control-label" for="dateInput">Дата:</label>
                <div class="col-xs-4">
                    <input med-date-input ng-model="model.date" id="dateInput" list="datesReserveList" class="form-control" />
                    <datalist id="datesReserveList">
                        <option ng-repeat="day in data.availableDays" value="{{ day | date:'yyyy-MM-dd' }}" ng-bind="day | dateDisplay"></option>
                    </datalist>
                </div>
                <label class="col-xs-1 control-label">Час:</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-options="h.text for h in data.hours track by h.from" ng-model="model.time"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-8">
            <span class="bold-text">Пациент</span>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-default" ng-model="model.isNewPatient" data-btn-checkbox data-btn-checkbox-true="1" data-btn-checkbox-false="0" style="width: 150px">
                <span ng-show="model.isNewPatient === 0">Нов Пациент</span>
                <span ng-show="model.isNewPatient === 1">Избор Пациент</span>
            </button>
        </div>
    </div>
    <div ng-show="model.isNewPatient === 0">
        <input type="text" class="form-control" ng-model="data.searchText" placeholder="Търсене на пациент">
    </div>
    <div class="patient-select-container" ng-show="model.isNewPatient === 0">
        <table class="table table-hover table-condensed table-nomen">
            <thead>
                <tr>
                    <th style="width: 10px"></th>
                    <th class="patient-container-col">Име</th>
                    <th class="patient-container-col">Фамилия</th>
                    <th class="patient-container-col">Телефон</th>
                    <th class="patient-container-col">Идент. Номер</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="patient-container">
            <table class="table table-hover table-condensed table-nomen table-center">
                <colgroup>
                    <col style="width: 10px">
                    <col class="patient-container-col">
                    <col class="patient-container-col">
                    <col class="patient-container-col">
                    <col class="patient-container-col">
                </colgroup>
                <tbody>
                    <tr ng-repeat="patient in data.patients" ng-click="onSelectPatient(patient)" class="clickable">
                        <td class="controls">
                            <input type="radio" ng-value="patient.id" name="patient" ng-model="model.selectedPatient" />
                        </td>
                        <td ng-bind="patient.firstName">/td>
                        <td ng-bind="patient.lastName"></td>
                        <td ng-bind="patient.phoneNumber"></td>
                        <td ng-bind="patient.identNumber"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="model.isNewPatient === 0">
        <label for="patientNote" class="col-xs-2 control-label">Бележка:</label>
        <textarea id="patientNote" rows="3" class="form-control" style="margin-bottom: 10px; width: 80%" ng-model="model.note"></textarea>
    </div>
    <div ng-show="model.isNewPatient === 1">
        <form novalidate>
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="patientFirstName" class="col-xs-3 control-label">Име:</label>
                    <div class="col-xs-7">
                        <input type="text" id="patientFirstName" class="form-control" ng-model="model.newPatient.firstName" placeholder="Име" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="patientLastName" class="col-xs-3 control-label">Фамилия:</label>
                    <div class="col-xs-7">
                        <input type="text" id="patientLastName" class="form-control" ng-model="model.newPatient.lastName" placeholder="Фамилия" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="patientPhone" class="col-xs-3 control-label">Телефон:</label>
                    <div class="col-xs-7">
                        <input type="text" id="patientPhone" class="form-control" ng-model="model.newPatient.phoneNumber" placeholder="Телефон" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPatientNote" class="col-xs-3 control-label">Бележка:</label>
                    <div class="col-xs-7">
                        <textarea id="newPatientNote" rows="3" class="form-control" ng-model="model.newPatient.note"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <h4>
                    Избор на плащане
                </h4>
            </div>
            <div class="col-xs-6">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="model.paymentType" btn-radio="1">Каса</label>
                    <label class="btn btn-default" ng-model="model.paymentType" btn-radio="2">Платено</label>
                    <label class="btn btn-default" ng-model="model.paymentType" btn-radio="3">Фонд</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal" role="form" ng-show="model.paymentType === 3">
        <div class="form-group">
            <label for="fundCardNumber" class="col-xs-3 control-label">Име:</label>
            <div class="col-xs-7">
                <select class="form-control" ng-model="model.fund" ng-options="f.name for f in data.funds track by f.id"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="fundCardNumber" class="col-xs-3 control-label">Карта Номер:</label>
            <div class="col-xs-7">
                <input type="text" id="fundCardNumber" class="form-control" ng-model="model.fundCardNumber" placeholder="Карта Номер" />
            </div>
        </div>
        <div class="form-group">
            <label for="fundCardExpire" class="col-xs-3 control-label">Валидна До:</label>
            <div class="col-xs-7">
                <input class="form-control" med-date-input ng-model="model.fundCardExpiration" />
            </div>
        </div>
    </div>
    <div style="margin-top: 10px; overflow: hidden">
        <button type="button" class="btn btn-default" style="float: left; width: 100px;" ng-click="select()">Избери</button>
        <button type="button" class="btn btn-default" style="float: right; width: 100px;" ng-click="cancel()">Отказ</button>
    </div>
</div>
