﻿<div class="modal-form">
    <table class="table table-bordered table-condensed table-nomen table-center">
        <thead>
            <tr>
                <th style="width: 50px"></th>
                <th style="width: 100px">Име</th>
                <th style="width: 100px">Фамилия</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" ng-click="user.selected = !user.selected">
                <td class="controls">
                    <input type="checkbox" name="user" ng-model="user.selected" />
                </td>
                <td ng-bind="user.firstName"></td>
                <td ng-bind="user.lastName"></td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix">
        <button class="btn btn-default" style="float: left" ng-click="ok()">Избор</button>
        <button class="btn btn-default" style="float: right" ng-click="cancel()">Отказ</button>
    </div>
</div>