﻿@{
    ViewBag.Title = "Фондове";
}
<div class="container" ng-controller="fundController">
    <p class="title">@ViewBag.Title</p>
    <div class="nomen-header">
        <button class="btn btn-default" ng-click="add()">Добави нов</button>
    </div>
    <div class="alert alert-danger alert-small alert-dismissible" ng-show="error">
        <button type="button" class="close" ng-click="error = ''">
            <span>&times;</span>
        </button>
        <div ng-bind="error"></div>
    </div>
    <table class="table table-bordered table-condensed table-nomen">
        <thead>
            <tr>
                <th style="width: 200px"></th>
                <th>Име</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="fund in funds">
                <td class="controls">
                    <a ng-click="edit(fund)" ng-show="fund.readOnly">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-click="cancel(fund)" ng-show="!fund.readOnly">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </a>
                    <a ng-click="delete(fund.id)" ng-show="fund.id > 0">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                <td>
                    <span ng-show="fund.readOnly">{{ fund.name }}</span>
                    <div style="width: 300px" class="input-group" ng-show="!fund.readOnly">
                        <input type="text" ng-model="fund.name" class="form-control" required />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="save(fund)">Запис</button>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/static/js/configuration/fund.min.js@("?ver=" + ViewBag.AssemblyVersion)" type="text/javascript"></script>
}
