﻿@{
    ViewBag.Title = "Съобщения";
}

<div class="container" ng-controller="messageController">
    <p class="title">@ViewBag.Title</p>
    <div class="nomen-header">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="view" btn-radio="1" style="width: 200px">Ново Съобщение</label>
            <label class="btn btn-default" ng-model="view" btn-radio="2" style="width: 200px">Изпратени</label>
        </div>
    </div>
    <div class="alert alert-danger alert-small" ng-show="errors.length > 0">
        <div ng-bind="error" ng-repeat="error in errors"></div>
    </div>
    <div class="message-compose" ng-show="view == 1">
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="typeSelect">Вид</label>
                <select id="typeSelect" class="form-control" ng-model="message.type" ng-options="t.text for t in types track by t.id"></select>
            </div>
            <div class="form-group col-sm-3">
                <label for="validitySelect">Валидност</label>
                <select id="validitySelect" class="form-control" ng-model="message.validity" ng-options="v.text for v in validities track by v.id"></select>
            </div>
            <div class="form-group col-sm-3" ng-show="message.validity.id === 2">
                <label for="fromInput">От</label>
                <input med-date-input id="fromInput" ng-model="message.from" class="form-control" max="{{ message.to | date: 'yyyy-MM-dd' }}" />
            </div>
            <div class="form-group col-sm-3" ng-show="message.validity.id === 2">
                <label for="toInput">До</label>
                <input med-date-input id="toInput" ng-model="message.to" class="form-control" min="{{ message.from | date: 'yyyy-MM-dd' }}" />
            </div>
        </div>
        <div class="form-group">
            <label for="messageInput">Съобщение</label>
            <textarea class="form-control" rows="7" id="messageInput" ng-model="message.text"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="addRecipients()" style="width: 200px">Добави получатели</button>

        </div>
        <div>
            <label>Получатели</label>
            <table class="table table-bordered table-condensed table-nomen table-center">
                <thead>
                    <tr>
                        <th style="width: 20px"></th>
                        <th style="width: 100px">Име</th>
                        <th style="width: 100px">Фамилия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in message.recipients">
                        <td>
                            <a ng-click="deleteRecipient(user)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        <td ng-bind="user.firstName"></td>
                        <td ng-bind="user.lastName"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-default" style="width: 200px" ng-click="send()">
                <span class="glyphicon glyphicon-send"></span>
                Изпрати
            </button>
        </div>
    </div>

    <div class="message-sent" ng-show="view == 2">
        <label>Изпратени</label>
        <table class="table table-bordered table-condensed table-nomen table-center" style="white-space: nowrap">
            <thead>
                <tr>
                    <th style="width: 20px"></th>
                    <th style="width: 100px">Изпратено на</th>
                    <th style="width: 100px">Вид</th>
                    <th style="width: 300px">Текст</th>
                    <th style="width: 300px">Получатели</th>
                    <th style="width: 100px">Валидност</th>
                    <th style="width: 100px">От</th>
                    <th style="width: 100px">До</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in messages">
                    <td>
                        <a ng-click="resend(message)">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </a>
                    </td>
                    <td ng-bind="message.sendAt | date: 'dd.MM.yyyy HH:mm'"></td>
                    <td ng-bind="$parent.getTypeText(message.type)"></td>
                    <td ng-bind="message.text"></td>
                    <td ng-bind="message.recipients | userCompact"></td>
                    <td ng-bind="$parent.getValidityText(message.validity)"></td>
                    <td ng-bind="message.validFrom | dateDisplay"></td>
                    <td ng-bind="message.validTo | dateDisplay"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/static/js/configuration/messages.min.js@("?ver=" + ViewBag.AssemblyVersion)" type="text/javascript"></script>
}
