﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="loginApp" ng-controller="loginController">
<head>
    <title>{{ translation.texts.loginTitle }}</title>
    <meta charset="utf-8" />
    <meta name="author" content="Ventsislav Mladenov">
    <meta http-equiv="content-language" content="bg">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="~/static/css/login.min.css" type="text/css" rel="stylesheet" />
    <link href="~/static/css/language.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
</head>
<body>
    @Html.Partial("Language")
    <div class="container" ng-cloak>
        <form class="form-login form-horizontal" role="form" method="POST" action="@Url.Action("Login", "Account")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="userName" class="col-sm-4 control-label">{{ translation.texts.userName }}:</label>
                <div class="col-sm-6">
                    <input id="userName" type="text" name="userName" class="form-control" placeholder="{{ translation.texts.userName }}" required autofocus />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">{{ translation.texts.password }}:</label>
                <div class="col-sm-6">
                    <input id="password" type="password" name="password" class="form-control" placeholder="{{ translation.texts.password }}" required />
                </div>
            </div>
            <label class="remember-me control-label">
                <input type="checkbox" name="rememberme" onclick="checkClick(this)" value="false" />
                {{ translation.texts.rememberMe }}
            </label>
            <script type="text/javascript">
                function checkClick(ch) {
                    if (ch.value === "false")
                        ch.value = "true";
                    else
                        ch.value = "false";
                }
            </script>
            <button type="submit" class="btn btn-default">{{ translation.texts.login }}</button>
            <input type="hidden" name="lang" value="{{ translation.currentLang }}" />
        </form>
    </div>
    <div class="chrome-info">
        {{ translation.texts.useChromeMsg }} <a href="http://www.google.com/intl/bg/chrome/browser/">Google Chrome</a>
    </div>
    <script src="~/static/js/translation.js"></script>
    <script src="~/static/js/login.js"></script>
</body>
</html>

