﻿@{
    ViewBag.Title = "Специалности";
}
<div class="container" ng-controller="specialityController">
    <p class="title">@ViewBag.Title</p>
    <div class="nomen-header">
        <button class="btn btn-default" ng-click="add()">Добави нова</button>
    </div>
    <div class="alert alert-danger alert-small alert-dismissible" ng-show="error">
        <button type="button" class="close" ng-click="error = ''">
            <span>&times;</span>
        </button>
        <div ng-bind="error"></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-bordered table-condensed table-nomen">
                <thead>
                    <tr>
                        <th style="width: 100px"></th>
                        <th>Име</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="speciality in specialities" ng-click="select(speciality)">
                        <td class="controls">
                            <a ng-click="edit(speciality)" ng-show="speciality.readOnly">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a ng-click="cancel(speciality)" ng-show="!speciality.readOnly">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </a>
                            <a ng-click="delete(speciality.id)" ng-show="speciality.id > 0">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        <td>
                            <span ng-show="speciality.readOnly">{{ speciality.description }}</span>
                            <span class="glyphicon glyphicon-ok selected-mark" ng-show="speciality.selected"></span>
                            <div style="width: 300px" class="input-group" ng-show="!speciality.readOnly">
                                <input type="text" ng-model="speciality.description" class="form-control" required />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="save(speciality)">Запис</button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6" ng-show="selected">
            <table class="table table-bordered table-condensed table-nomen table-center">
                <thead>
                    <tr>
                        <th style="width: 50px"></th>
                        <th style="width: 100px">Титла</th>
                        <th style="width: 100px">Име</th>
                        <th style="width: 100px">Фамилия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="doctor in selected.doctors">
                        <td class="controls">
                            <a ng-click="deleteDoctor(doctor)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        <td ng-bind="doctor.title"></td>
                        <td ng-bind="doctor.firstName"></td>
                        <td ng-bind="doctor.lastName"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-default" ng-click="addDoctor()">Добави</button>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/static/css/speciality.min.css@("?ver=" + ViewBag.AssemblyVersion)" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/static/js/configuration/speciality.min.js@("?ver=" + ViewBag.AssemblyVersion)" type="text/javascript"></script>
}
