﻿<div class="modal-form">
    <table class="table table-bordered table-condensed table-nomen table-center">
        <thead>
            <tr>
                <th style="width: 50px"></th>
                <th style="width: 100px">Титла</th>
                <th style="width: 100px">Име</th>
                <th style="width: 100px">Фамилия</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doctor in doctors" ng-click="doctor.selected = !doctor.selected">
                <td class="controls">
                    <input type="checkbox" name="doctor" ng-model="doctor.selected" />
                </td>
                <td ng-bind="doctor.title"></td>
                <td ng-bind="doctor.firstName"></td>
                <td ng-bind="doctor.lastName"></td>
            </tr>
        </tbody>
    </table>

    <div class="clearfix">
        <button class="btn btn-default" style="float: left" ng-click="ok()">Избор</button>
        <button class="btn btn-default" style="float: right" ng-click="cancel()">Отказ</button>
    </div>
</div>