﻿@using MedRegistration.Infrastructure
<div class="language">
    <ul>
        @foreach (var lang in Translation.Languages)
        {
            <li class="flag flag-@lang.Key" data-title="@lang.Value" ng-click="translation.setLanguage('@lang.Key')" />
        }
    </ul>
</div>