﻿@import 'helper.scss';

div.registration {
	margin: 0 10px;
}

div.week {
	margin-bottom: 10px;
}

$single-row-height: 100px;
$multiple-row-height: 50px;
$border-color: #aaa;
$border: 1px solid $border-color;

$non-work-color: #ddd;
$nzok-color: #0ff;
$reserverd-color: #8b0000;
$work-color: #fff;

@mixin border-top-bottom($color) {
	border-top: 1px solid $color;
	border-bottom: 1px solid $color;
}

$hover-color: #228b22;
$border-hover: 2px solid $hover-color !important;
$bold: 700;



div.schedule-day {
	margin-bottom: 20px;

	table.schedule {
		width: 100%;
		border-collapse: separate;

		th {
			text-align: center;
			@include border-top-bottom($border-color);
			border-left: $border;

			&:last-child {
				border-right: $border;
			}
		}

		td.week-day {
			width: 1px;
			padding: 10px 0;
			vertical-align: middle;
			border-bottom: $border;
			border-left: $border;
			background-color: $work-color;

			.rotated-text {
				display: inline-block;
				overflow: hidden;
			}

			.rotated-text_inner {
				display: inline-block;
				white-space: nowrap;
				@include rotate(-90deg);
			}

				.rotated-text_inner:after {
					content: "";
					float: left;
					margin-top: 100%;
				}
		}

		tr.doctor-row {

			td {
				position: relative;
				padding: 0;
				border-left: $border;
				border-bottom: $border;

				&.doctor-hour {
					div {
						height: 100%;
					}

					background-color: $work-color;

					&.non-work {
						background-color: $non-work-color;
					}

					&.nzok {
						background-color: $nzok-color;
					}

					&.reserved {
						background-color: $reserverd-color;
					}

					&.past:not(.reserved):not(.non-work) {
						&::before {
							content: '\e014';
							font-family: 'Glyphicons Halflings';
							color: red;
							position: absolute;
							font-size: 12px;
							top: 50%;
							left: 50%;
							-moz-transform: translateX(-50%) translateY(-50%);
							-ms-transform: translateX(-50%) translateY(-50%);
							-o-transform: translateX(-50%) translateY(-50%);
							-webkit-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
						}
					}
				}

				&.doctor-name {
					padding: 0 5px;
					vertical-align: middle;
					cursor: pointer;
					background-color: $work-color;

					$note-sign-width: 10px;

					div.note {
						@include top-right-arrow($note-sign-width, #3258f1);
						position: absolute;
						top: 0px;
						right: 0px;

						&[data-title]:hover::after {
							left: $note-sign-width;
							bottom: $note-sign-width;
							@include popup;
						}
					}
				}

				&:last-child {
					border-right: $border;
				}


				&[data-title]:hover::after {
					margin-bottom: 2px;
					left: 0;
					bottom: 100%;
					@include popup;
				}
			}

			&:hover {
				td.doctor-name {
					color: $hover-color;
					font-weight: $bold;
				}
			}

			&.single-row {
				height: $single-row-height;

				td {
					height: $single-row-height;
				}
			}

			&.multiple-row {
				height: $multiple-row-height;

				td {
					height: $multiple-row-height;
				}
			}
		}

		&:hover {

			th {
				border-top: $border-hover;

				&:first-child {
					border-left: $border-hover;
				}

				&:last-child {
					border-right: $border-hover;
				}
			}

			td.week-day {
				color: $hover-color;
				border-left: $border-hover;
				border-bottom: $border-hover;
				font-weight: $bold;
			}

			tr.doctor-row {

				td:last-child {
					border-right: $border-hover;
				}

				&:last-child {
					td {
						border-bottom: $border-hover;
					}
				}
			}
		}
	}
}


div.patient-select-container {
	margin: 10px 0px 20px 0px;

	div.patient-container {
		max-height: 300px;
		overflow: auto;
	}

	.patient-container-col {
		width: 100px;
		text-align: center;
	}

	table {
		margin-bottom: 0px;
	}
}
